source activate trempy

export PYTHONPATH=$PWD:$PWD/testing/modules:$PYTHONPATH

# We need access to the trempy command-line interface
export PATH=$PWD/../trempy/trempy/scripts:$PATH

# We need access submodules as it hosts copulpy
export PYTHONPATH=$PWD/submodules/copulpy:$PYTHONPATH
